################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/SIGIC/SIGIC/obj/Debug/DesignTimeResolveAssemblyReferences.cache
