################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/SIGIC/.vs
/SIGIC/SIGIC/obj
/SIGIC/SIGIC/bin
